header.flex.w-full.flex-wrap.items-center.justify-between.py-4
    a.flex(href="/api")
        img.w-24.mr-1.p-2(src="../public/images/weather_wise_picto_blue.svg")
        img.w-40(src="../public/images/weather_wise_brand_blue.svg")